.menu{
width:100%;
height:70px;
background-color:#fff;
color:#333;
border:1px thin #eee;
line-height:70px;
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
font-weight:100;

	
}

.menu_logo{width:20%;float:left;height:70px; line-height:}
.menu_logo h3{margin-left:20px;}
.menu_nav{width:60%;float:left;height:70px;}
.menu_call{width:20%;float:left; background-color:#F92F7A; color:#fff;height:70px;}
,menu_nav .icon {
  display: none;}
.menu_nav ul{float:right;}
.menu_nav ul li{
	width:auto;
	font-size:14px;
	display:inline-block;	
	margin-left:10px;
	margin-right:10px;
	color:#333;
	text-decoration:none;
}
.menu_nav ul li:hover 
{
	
	color:#F92F7A;
	position:relative;
}
.menu_nav ul li:hover a{color:#F92F7A;}

@media screen and (max-width: 768px) {
  .menu_nav{position: relative;}
  .menu_nav ui li{position: relative; width:100%;background:#fff;display: block;}
  .menu_nav .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu_nav a {
    float: none;
    display: block;
    text-align: center;
	background:#fff;
	width:100%;
  }}