.sizing{
    width:100%;
    background-color: honeydew;
}   
h2{
    text-align:center
}
.bgcolor{
    background-color:lightcyan
}
.img{
    height:auto; 
    width:110px; 
    float:right
}
.img1{
    height:auto; 
    width:100%
}
.margin{
    margin-left:0px
}
.no-margin{
    margin: 0;
    font-size:90%
}
.name{
    font-size:80%
}
.carousel-indicators li {
    
    background-color: darkturquoise;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    
    background-color: deeppink;
}
#tcb-testimonial-carousel {
width:90%;
margin-top: 30px;
margin-left:70px;
}


.carousel-indicators li {
    border: 1px solid #ccc;
    
}
.carousel-control {
    color: #b20000;
    width: 5%;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #b20000;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.item{
    padding: 15px 70px;
    background: honeydew;
}
.up{
    text-align: justify;
}
.media-object {
    margin: auto;
}
@media screen and (max-width: 768px) {
    .media-object {
        margin-bottom: 15px;
        
    }
    .img{
        display:none;
    }
    .img1{
        height: auto;
        width: 50%;
    }
    .no-margin{
        
        font-size:100%
    }
    #tcb-testimonial-carousel {
        
    margin-left:30px;
    margin-right: 30px;
    }
    
    
}

@media screen and (max-width: 400px) {
    .media-object {
        margin-bottom: 20;
        
    }
    .img{
        display:none;
    }
    .img1{
        width:100%;
        height:auto;

    }
    h2{
    margin-left:0px;
}
    #tcb-testimonial-carousel {
        
    margin-left:30px;
    
    }
    
    .item{
    padding: 0px 5px;
    background: honeydew;
}

.carousel-control.left,
.carousel-control.right {
    display: none;
}
    
}
